src/node-red-docker/flow/flows.json
[{"id":"aee00817.edddf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc268dcf.28791","type":"inject","z":"aee00817.edddf8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["53dfeb5d.128d64","51e3ca87.635c04"]]},{"id":"bffe09ed.0900a8","type":"debug","z":"aee00817.edddf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"febd7061.9dd62","type":"function","z":"aee00817.edddf8","name":"contain 0","func":"msg.payload = \"payload contains 0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":80,"wires":[["bffe09ed.0900a8"]]},{"id":"56726766.6d5378","type":"switch","z":"aee00817.edddf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":450,"y":100,"wires":[["febd7061.9dd62"],["caacdaec.dd3248"],["49a5f029.e3bdf"],["ab6ff83e.4f82a8"]]},{"id":"caacdaec.dd3248","type":"function","z":"aee00817.edddf8","name":"contain 1","func":"msg.payload = \"payload contains 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["bffe09ed.0900a8"]]},{"id":"ab6ff83e.4f82a8","type":"function","z":"aee00817.edddf8","name":"otherwise","func":"msg.payload = \"payload contains neither 0 nor 1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["bffe09ed.0900a8"]]},{"id":"53dfeb5d.128d64","type":"function","z":"aee00817.edddf8","name":"Get first digit","func":"msg.payload = msg.payload.toString().slice(-1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":100,"wires":[["56726766.6d5378"]]},{"id":"51e3ca87.635c04","type":"delay","z":"aee00817.edddf8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":240,"wires":[["bffe09ed.0900a8"]]},{"id":"49a5f029.e3bdf","type":"function","z":"aee00817.edddf8","name":"Not send msg","func":"node.trace(\"not sent\");\nreturn;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":160,"wires":[["bffe09ed.0900a8"]]}]